body {
  font-family: 'Roboto', sans-serif;
}

.tabSVG {
  background-color: var(--tab-div-color);
  margin: auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.bend-type-list {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bend-type-list li {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bend-type-list li:hover {
  background-color: #eee;
}

.bend-type-list li.selected {
  background-color: #ddd;
  font-weight: 500;
}


